* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent; /* background */
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1a1a1a; /* inactive_tab_background */
  color: #f0f3f6; /* foreground */
}

#workspaces button:hover {
  color: #0a0c10; /* background */
  background-color: #1a1a1a; /* active_border_color */
}

#workspaces button.active {
  background-color: #1a1a1a;
  color: #26cd4d; /* active_tab_background */
}

#workspaces button.urgent {
  background-color: #1a1a1a;
  color: #ff9492; /* color1 */
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1a1a1a; /* inactive_tab_background */
  color: #f0f3f6; /* foreground */
}

#mpris.playing {
  color: #26cd4d; /* color2 */
}

#mpris.paused {
  color: #7a828e; /* color0 */
}

#custom-sep {
  padding: 0px;
  color: #7a828e; /* color0 */
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #39c5cf; /* color6 */
}

#memory {
  color: #cb9eff; /* color5 */
}

#clock {
  color: #71b7ff; /* color4 */
}

#clock.simpleclock {
  color: #91cbff; /* color12 */
}

#window {
  color: #f0f3f6; /* foreground */
}

#pulseaudio {
  color: #56d4dd; /* color14 */
}

#pulseaudio.muted {
  color: #9ea7b3; /* color8 */
}

#custom-logo {
  color: #71b7ff; /* color4 */
}

#custom-power {
  color: #ff9492; /* color1 */
}

tooltip {
  background-color: #1a1a1a; /* inactive_tab_background */
  border: 2px solid #71b7ff; /* active_border_color */
  color: #f0f3f6; /* foreground */
}

