* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.5);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1a1a1a;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	font-family: JetBrains Mono;
}

button:focus, button:active, button:hover {
	background-color: #141414;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/flgz/.config/wlogout/icons/lock.png"), url("/home/flgz/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/flgz/.config/wlogout/icons/logout.png"), url("/home/flgz/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/flgz/.config/wlogout/icons/suspend.png"), url("/home/flgz/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/flgz/.config/wlogout/icons/hibernate.png"), url("/home/flgz/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/flgz/.config/wlogout/icons/shutdown.png"), url("/home/flgz/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/flgz/.config/wlogout/icons/reboot.png"), url("/home/flgz/.config/wlogout/icons/reboot.png"));
}
